@import './globals';

body { 
    margin: 0;
   // font-family: 'Roboto', sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

h2 {
    font-size: 1.2em;

    @media(min-width: 800px) {
        font-size: 1.5em;
    }
}

p {
    font-size: .85em;

    @media(min-width: 800px) {
        font-size: 1em;
    }
}
a {
    color: $secondary;
}