//COLORS
// $primary: #00bcd4;
// $primary-light:#62efff;
 $primary-dark:#008ba3;

$primary: #addfef;
$primary-light:#e0ffff;
//$primary-dark:#7cadbd;

$secondary: #3f51b5;
$secondary-light: #757de8;
$secondary-dark: #002984;

$dark1: #333;
$dark2: #777;

$gray1: #dadada;

//Values
$bodyWidth: 700px;